.header {
    background-color: #007791 !important;
    color: #fff;
    height: 137px;
}
.container {
    padding-left: 10pc;
    padding-top: 3pc;
}
.user {
    display: flex;
    justify-content: center;
}
.avatar {
    width: 50%;
    border-radius: 50%;
}
.button {
    color: #fff;
    background-color: #ec5252;
    margin: 20px auto 0;
    border: 1px solid transparent;
    width: 100%;
    font-weight: 600;
    cursor: pointer;
    padding: 11px 12px;
    font-size: 15px;
    border-radius: 2px;
}
.socialLinks {
    margin: 20px 0 0;
    text-align: center;
}
.links {
    font-size: 21px;
    line-height: 35px;
    margin: 0 7px;
}
ul {
    display: flex;
    margin-top: 30px;
    list-style: none;
    padding: 0;
}
li {
    border-left: 1px solid rgba(41, 48, 59, 0.25);
    padding: 0 15px;
    font-size: 22px;
}
